/* .repos{
  color: red;
  text-decoration-line: underline;
  font-size: 2em;
}
.repo{
  color: blue;
}
.description{
  color: blue;
  font-size: 18px;
}
.creation{
  color: blue;
}
::placeholder{
  color: salmon;
}
#form{
  width: 30%;
} */
#well{
   text-align: left;
}
h3{
   text-align: left;
}
.panel-body{
  background-color:black;
  /* border-style: dashed; */
}
::placeholder{
  color: blueviolet;
  font-size: 1.0em;
  opacity: 0.7;
}
/* .panel{
   margin-left: 30%;
} */